@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --btn-green: #00a445;
  --white: #f5f7fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: var(--font-jakarta-sans);
  height: 100vh;
}

.custom-input {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

.custom-btn {
  background-color: var(--btn-green);
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  margin: 10px 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.btn-transaction {
  opacity: 0;
  transform: translateY(14px) translateX(37px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.btn-transfer {
  opacity: 0;
  transform: translateY(38px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.btn-transaction.show,
.btn-transfer.show {
  opacity: 1;
  transform: translateY(0);
}

.required {
  color: #c3151c;
  font-size: 0.9em;
}